{% extends "base_generic.html" %}

{% block title %}
  <title>Home</title>
{% endblock %}

{% block content %}
  <h1 id="title-home">Local Library Home</h1>
  <p>
    Welcome to LocalLibrary, a website developed by
    <em>amin_rustamoff</em> !
  </p><hr/>
  <h2>Status in our Library</h2>
  <p>The library has the following record counts:</p>
  <ul class="list-unstyled">
    <li><strong><i class="bi bi-bookshelf"></i> Books:</strong> {{ num_books }}</li>
    <li><strong><i class="bi bi-copy"></i> Copies:</strong> {{ num_instances }}</li>
    <li><strong><i class="bi bi-check-square"></i> Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong><i class="bi bi-person-vcard"></i> Authors:</strong> {{ num_authors }}</li>
    <li><strong><i class="bi bi-puzzle"></i> Genres:</strong> {{ num_genres }} </li>
    <li><strong><i class="bi bi-lightning-charge"></i> Available Genres:</strong> {{ num_instances_available }}</li>
  </ul>
    <hr/>
  <h2>Available books</h2>
  <p>Below, you can see available book list.</p>
  <ul class="list-unstyled">
    {% for book in book_list %}
      <li>
        <i><i class="bi bi-caret-right"></i> {{ book }}</i>
      </li>
    {% empty %}
      <li>No books available.</li>
    {% endfor %}
  </ul>
  <hr/>
  <p>
    <i class="bi bi-eye"></i> This page has been visited <strong>{{ num_visits }}</strong> time{{ num_visits|pluralize }}
  </p>
{% endblock %}
