.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.sidebar-nav a {
    text-decoration: none;
}

#title-home {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#logout-form {
  display: inline;
}
#logout-form button {
  padding: 0;
  margin: 0;
}

